.searchBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    align-self: center;
}
.searchBar input{
    width: 80%;
    font-size: 1.8vw;
    border: none;
    outline: none;
}
.searchBar .icon{
    font-size: 1.5vw;
    font-weight: 600;
    color: #000;
}
.searchBar .icon:hover{
    cursor: pointer;
}
@media screen and (max-width: 750px) {
    .searchBar input{
        font-size: 3vw;
    }
    .searchBar .icon{
        font-size: 3vw;
    }
}